<div class="page-title">
  <div class="title_center">
    <h3>Sign up page</h3>
  </div>

</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <br />
        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
            </div>
          </div>


          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
            </div>
          </div>

          
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12 for="heard">Actual Job:</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select id="heard" class="date-picker form-control col-md-7 col-xs-12" required>
                  <option value="">Choose..</option>
                  <option value="press">Maintenance Worker</option>
                  <option value="net">Lead Process Planner</option>
                  <option value="mouth">Resource Excavator</option>
                  <option value="press">Medic</option>
                  <option value="net">Harvester</option>
                  <option value="mouth">Guardian</option>
                </select>
          </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Skills</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input id="tags_1" type="text" class="tags form-control" value="Electricity, Research, Planning" />
              <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Mentor</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              
              <div class="">
                <label>
                  <input type="checkbox" class="js-switch" /> Activate to be a mentor or not
                </label>
              </div>
              
              
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-8">
              
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>